// Font Variables
$font-sans: var(--font-geist-sans);
$font-mono: var(--font-geist-mono);

// Border Radius
$radius: 0.75rem;
$radius-sm: calc($radius - 4px);
$radius-md: calc($radius - 2px);
$radius-lg: $radius;
$radius-xl: calc($radius + 4px);
